
/* Início - Seção Blocos Informativos */
.sec-blocos-gerais {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.bloco {
    background-color: var(--gray-100);
    justify-content: center;
    width: calc(33.33% - 10px);
    min-width: 350px;
    height: 200px;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid var(--gray-300);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icons-blocos {
    font-size: 35px;
}

.div-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-title-subtitle-bloco {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h3 {
        font-size: 1.35rem;
    }
}

.subtitle-bloco {
    color: var(--gray-600);
    font-size: 1.1rem;
}

.info-bloco {
    font-size: 1.5rem;
    font-weight: bolder;
}

/* Fim - Seção Blocos Informativos */

/* Início Seção da Tabela de Usuários */

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
}

.div-table {
    overflow-y: auto;
    width: 100%;
    height: 400px;
}

.div-scroll-table {
    overflow-x: auto;
    width: 100%;
}

.sec-tabela-usuario {
    background-color: var(--gray-100);
    padding: 0px 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.div-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.div-text-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.aba-todos-usuarios{
    padding: 10px 20px;
    background-color: var(--gray-100);
    border: 8px solid var(--gray-200);
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    min-width: 190px;
    text-align: center;
}

.search-box {
    position: relative;
    width: 400px;
}

.search-box input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box input:focus {
    border-color: #aaa;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.btn-add-user {
    background-color: var(--blue-dark);
    width: 195px;
    padding: 15px 30px;
    margin-left: 10px;
    border-style: none;
    color: var(--white);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid var(--gray-300);
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

td:first-child {
    border-left: 1px solid var(--gray-300);
}

td:last-child {
    border-right: 1px solid var(--gray-300);
}

th {
    background-color: var(--gray-200);
    font-weight: bold;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}
/* Fim Seção da Tabela de Usuários */

@media (max-width: 1178px) {
    .bloco {
        width: calc(50% - 10px);
    }

    .div-search {
        flex-direction: column;
        gap: 15px;
    }
    
    .div-text-search {
        width: 100%;
    }

    .btn-add-user {
        margin: 0;
        width: 100%;
    }

    .search-box {
        width: 100%;
    }
}

@media (max-width: 814px) {
    .sec-blocos-gerais {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        height: 120px;
        min-width: 0;
    }
}

@media (max-width: 550px) {
    .search-box {
        display: none;
    }

    .aba-todos-usuarios {
        min-width: 100%;
    }

    main {
        padding: 30px;
        padding-bottom: 60px;
    }
}

@media (max-width: 450px) {
    .bloco {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        height: 160px;
        gap: 20px;

        & h3 {
            font-size: 1.1rem;
        }

        & .subtitle-bloco {
            font-size: 1rem;
        }

        & i {
            font-size: 1.8rem;
        }

        .info-bloco {
            font-size: 1.4rem;
        }
    }
}