:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
}

/* Início - Seção Blocos Informativos */
.sec-blocos-gerais {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.bloco {
    background-color: var(--gray-100);
    justify-content: center;
    width: calc(33.33% - 10px);
    min-width: 350px;
    height: 200px;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid var(--gray-300);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icons-blocos {
    font-size: 35px;
}

.div-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-title-subtitle-bloco {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h3 {
        font-size: 1.35rem;
    }
}

.subtitle-bloco {
    color: var(--gray-600);
    font-size: 1.1rem;
}

.info-bloco {
    font-size: 1.5rem;
    font-weight: bolder;
}

/* Fim - Seção Blocos Informativos */

/* Início Seção da Tabela de Usuários */

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
}

.div-table {
    overflow-y: auto;
    width: 100%;
    height: 400px;
}

.div-scroll-table {
    overflow-x: auto;
    width: 100%;
}

.sec-tabela-usuario {
    background-color: var(--gray-100);
    padding: 0px 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.div-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.div-text-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.aba-todos-usuarios {
    padding: 10px 20px;
    background-color: var(--gray-100);
    border: 8px solid var(--gray-200);
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    min-width: 190px;
    text-align: center;
}

.search-box {
    position: relative;
    width: 400px;
}

.search-box input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box input:focus {
    border-color: #aaa;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.btn-add-user {
    background-color: var(--blue-dark);
    width: 195px;
    padding: 15px 30px;
    margin-left: 10px;
    border-style: none;
    color: var(--white);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid var(--gray-300);
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

td:first-child {
    border-left: 1px solid var(--gray-300);
}

td:last-child {
    border-right: 1px solid var(--gray-300);
}

table th:nth-child(1),
table td:nth-child(1),
table th:nth-child(3),
table td:nth-child(3),
table th:nth-child(6),
table td:nth-child(6) {
    text-align: right;
}

table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(4),
table td:nth-child(4),
table th:nth-child(5),
table td:nth-child(5) {
    text-align: left;
    padding-left: 12px;
}

table th:nth-child(6),
table td:nth-child(6) {
    width: 160px;
    white-space: nowrap;
    text-align: right;
    padding-right: 12px;
}

th {
    background-color: var(--gray-200);
    font-weight: bold;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.icon-more-details {
    border: 2px solid var(--black);
    width: 30px;
    height: 30px;
    padding-top: 5.5px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

/* Fim Seção da Tabela de Usuários */

/* Início Modal Adiconar Usuário */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-conteudo {
    background-color: var(--white);
    padding: 35px;
    border-radius: 10px;
    width: 500px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.fechar {
    cursor: pointer;
    top: 15px;
    left: 20px;
    font-size: 1.5rem;
    color: var(--blue-dark);
    padding: 5px;
    position: absolute;
}

.modal-conteudo input,
.modal-conteudo select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--gray-300);
    outline-color: var(--blue-dark);

    &:disabled {
        background-color: var(--gray-200);
    }
}

.modal-conteudo label {
    font-weight: 500;
}

.cor-blue-dark {
    color: var(--blue-dark);
}

#form-cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

form .campo {
    display: flex;
    flex-direction: column;
}

form .campo label {
    font-weight: 500;
}

form .campo input {
    padding: 10px;
}

.tamfont {
    font-size: 14px;
}

.alin-lad {
    width: 100%;
    display: flex;
    gap: 20px;
}

.camp-lad {
    width: 50%;
}

.camp-lad label {
    display: block;
}

.camp-lad select,
.camp-lad input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.campo-cpf {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-input-tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-200);
    border-radius: 5px;
    overflow: hidden;
}

#input-cpf {
    background-color: var(--gray-100);
    border: 2px solid var(--gray-300);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--black);
    font-size: 1rem;
    text-align: left;
    outline-color: var(--blue-dark);
}

.info-busca {
    font-size: 15px;
    background-color: var(--gray-200);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.title-form {
    color: var(--blue-dark);
    text-align: center;
    width: 100%;
}

.esp {
    margin-bottom: 5px;
}

.btn-next {
    width: 100%;
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        background-color: var(--blue-hover);
    }
}

/* Fim Modal Adiconar Usuário */

/* Início Modal Editar Usuário */

.div-botoes {
    display: flex;
    flex-direction: column;
}

.btn-consulta {
    width: 50%;
    background-color: var(--white);
    color: var(--blue-dark);
    border: 1.5px solid var(--blue-dark);
    border-radius: 5px;
    margin-top: 15px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        background-color: var(--gray-200);
    }
}

.div-gap-btns {
    display: flex;
    gap: 10px;
}

.btn-inativar-user {
    width: 50%;
    background-color: var(--red-base);
    color: var(--white);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        background-color: var(--red-dark);
    }
}

/* Fim Modal Editar Usuário */

/* Início Responsivo */
@media (max-width: 768px) {
    .modal-conteudo {
        width: 90%;
        padding: 20px;
    }
}


@media (max-width: 1178px) {
    .bloco {
        width: calc(50% - 10px);
    }

    .div-search {
        flex-direction: column;
        gap: 15px;
    }

    .div-text-search {
        width: 100%;
    }

    .btn-add-user {
        margin: 0;
        width: 100%;
    }

    .search-box {
        width: 100%;
    }
}

@media (max-width: 814px) {
    .sec-blocos-gerais {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        height: 120px;
        min-width: 0;
    }
}

@media (max-width: 550px) {
    .search-box {
        display: flex;
        width: 100%;
    }

    .div-text-search {
        flex-direction: column;
    }

    .aba-todos-usuarios {
        min-width: 100%;
    }

    main {
        padding: 30px;
        padding-bottom: 60px;
    }
}

@media (max-width: 450px) {
    .bloco {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        height: 160px;
        gap: 20px;

        & h3 {
            font-size: 1.1rem;
        }

        & .subtitle-bloco {
            font-size: 1rem;
        }

        & i {
            font-size: 1.8rem;
        }

        .info-bloco {
            font-size: 1.4rem;
        }
    }
}

/* Fim Responsivo */