* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
    --red-fundo: #AF111135;
    --orange-fundo: #fe660035;
    --yellow-fundo: #ffb30035;
    --green-fundo: #00742B35;
    --blue-fundo: #06047835;
}

body {
    background-color: var(--gray-200);
}

main {
    margin: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

/* Início - Cabeçalho */
.header {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
}

.pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & span {
        font-weight: 600;
    }

    & p {
        font-weight: 200;
    }
}

.div-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}

.linha {
    background-color: var(--white);
    width: 1px;
    height: 35px;
    border-radius: 10px
}

.icon-logo {
    width: 35px;
    height: 35px;
}

.sair {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.icon-sair {
    width: 22px;
    height: 22px;
}

/* Fim - Cabeçalho */

/* Coluna da Esquerda - Dados da Triagem */

.linha-diagnostico {
    background-color: var(--blue-dark);
    margin-top: 15px;
    height: 2px;
    width: 100%;
}

.div-dados-triagem {
    margin-top: 25px;
}

.div-dados-triagem p {
    width: auto;
}

.container-painel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 1.7rem;
    color: var(--blue-dark);
}

.title-div {
    font-size: 22px;
    font-weight: bold;
    color: var(--blue-dark);
}

.btn-action {
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 11px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    width: 100%;

    &:hover {
        background-color: var(--blue-hover);
    }
}

.btn-voltar {
    color: var(--blue-dark);
    background-color: var(--gray-200);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    padding: 14px 0;

    &:hover {
        color: var(--blue-hover);
    }
}

.formulario-container {
    width: 100%;
    display: flex;
    gap: 15px;
}

.coluna-esquerda {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    width: 50%;
    padding: 30px;
    border: 1px solid var(--gray-300);
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    border-radius: 10px;
    width: 50%;
    padding: 30px;
    border: 1px solid var(--gray-300);
}

.campo-grupo {
    margin-top: 20px;

    &.last {
        margin: 0;
        margin-top: 10px;
    }
}

.campo-grupo label {
    font-weight: bold;
    color: var(--blue-dark);
}

.campos-linha {
    display: flex;
    gap: 20px;
}

.campos-linha .campo-grupo {
    flex: 1;
}

.dado-exibido,
.input-triagem {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    min-height: 20px;
    box-sizing: border-box;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 5px;
    outline-color: var(--blue-dark);
}

.dado-exibido {
    padding: 10px 0;
    border: none;
}

.dado-multilinha {
    height: 232px;
    resize: none;
}

#classificacao-risco option {
    font-size: 1em;
    font-weight: 600;
    color: var(--blue-base);
}

.niveis-dor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    flex-wrap: wrap;
}

.niveis-dor input[type="radio"] {
    display: none;
}

.niveis-dor label {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--gray-300);
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.niveis-dor input[type="radio"]:checked+label {
    background-color: var(--blue-dark);
    color: white;
    border-color: var(--blue-dark);
}

.div-title-dados-triagem {
    display: flex;
    align-items: center;
    gap: 320px;
}

.div-alergia-medicamento {
    display: flex;
    gap: 350px;
}

/* Leve (Azul) */
.leve {
    color: var(--blue-protocol);
    border-color: var(--blue-protocol);
    background-color: var(--blue-fundo);
}

/* Pouco urgente (Verde) */
.pouco-urgente {
    color: var(--green-protocol);
    border-color: var(--green-protocol);
    background-color: var(--green-fundo);
}

/* Urgente (Amarelo) */
.urgente {
    color: var(--yellow-protocol);
    border-color: var(--yellow-protocol);
    background-color: var(--yellow-fundo);
}

/* Muito urgente (Laranja) */
.muito-urgente {
    color: var(--orange-protocol);
    border-color: var(--orange-protocol);
    background-color: var(--orange-fundo);
}

/* Risco de vida (Vermelho) */
.risco-vida {
    color: var(--red-protocol);
    border-color: var(--red-protocol);
    background-color: var(--red-fundo);
}

/* Início - Footer */
.footer {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
}

.title-footer {
    font-weight: bold;
}

.div-footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.div-direitos-reservados {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-base);
    width: 100%;
    height: 40px;
}

.text-footer {
    font-size: 14px;
}

.div-message {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999;

    .msg {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        animation: showMsg 5s ease;

        &.error {
            background-color: var(--red-base);
        }

        &.success {
            background-color: var(--green-base);
        }

        & i,
        p {
            color: var(--white);
        }
    }

}

/* From Uiverse.io by RaspberryBee */
.loading svg polyline {
    fill: none;
    stroke-width: 4.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.loading svg polyline#back {
    fill: none;
}

.loading svg polyline#front {
    fill: none;
    stroke: var(--blue-dark);
    stroke-dasharray: 72, 216;
    stroke-dashoffset: 288;
    animation: dash_682 1s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#div-loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);
    z-index: 999;
}

@keyframes showMsg {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showMsg {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Fim - Footer */

@media (max-width: 1238px) {
    .formulario-container {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }

    .coluna-esquerda,
    .coluna-direita {
        width: 100%;
    }
}

@media (max-width: 716px) {

    .header {
        padding: 20px;
    }

    .campos-linha {
        flex-direction: column;
        gap: 0px;
    }

    .header span {
        display: none;
    }

    main {
        margin: 40px 20px;
        gap: 20px;
    }

    .formulario-container {
        gap: 20px;
    }

    .title-div {
        font-size: 1.1rem;
    }

    .btn-action {
        width: 100%;
    }

    .coluna-direita,
    .coluna-esquerda {
        padding: 25px;
    }

    .campo-grupo label {
        font-size: 0.9rem;
    }

    .dado-exibido,
    .input-triagem {
        font-size: 0.85rem;
    }

    .niveis-dor {
        gap: 5px;
    }

    .niveis-dor label {
        max-width: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div-title-dados-triagem {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .div-alergia-medicamento {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 635px) {
    .niveis-dor label {
        width: 15vw;
        height: 15vw;
        max-width: none;
        max-height: none;
    }

    .div-title-dados-triagem {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .div-alergia-medicamento {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 443px) {
    .niveis-dor label {
        width: 13vw;
        height: 13vw;
        max-width: none;
        max-height: none;
    }

    .div-title-dados-triagem {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .div-alergia-medicamento {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}