* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #DCDCDC;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #23FFA3;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */

    --black: black;
    --white: white;
}

body {
    background-color: var(--gray-200);
}

/* Início - Cabeçalho */

.header {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 50px;
}

.div-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}

.linha {
    background-color: var(--white);
    width: 1px;
    height: 35px;
    border-radius: 10px
}

.icon-logo {
    width: 35px;
    height: 35px;
}

.sair {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.icon-sair {
    width: 22px;
    height: 22px;
}

/* Fim - Cabeçalho */

.conteudo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.titulo {
    color: var(--blue-dark);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.subtitulo {
    color: var(--blue-dark);
}

.subtitulo .bemvindo {
    font-weight: lighter;
}

.subtitulo .nome {
    font-weight: bold;
}

.botao1 {
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.botao2 {
    background-color: var(--white);
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    padding: 8px 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}

.icones {
    width: 20px;
}