@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap);

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-image: url(../img/imagem-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & img {
        width: 100px;
        height: auto;
    }

    .brand {
        font-size: 2.5rem;
        color: var(--gray-100);
        font-family: "Hedvig Letters Serif", serif;
    }

    .brand-descricao {
        font-size: 1.2rem;
        color: var(--gray-100);
        font-family: "Hedvig Letters Serif", serif;
    }
}

.formulario {
    text-align: center;
    background: var(--gray-100);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 20px;
    width: 430px;
}

.linha {
    height: 120px;
    width: 1px;
    background-color: var(--gray-300);
}

.titulo {
    font-size: 1.6rem;
    color: var(--blue-dark);
}

.input {
    background-color: var(--gray-100);
    border: 2px solid var(--gray-300);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--black);
    font-size: 1rem;
    text-align: left;
    outline-color: var(--blue-dark);
}

#input-cpf {
    caret-color: transparent;
}

.div-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 50px;
    width: 100%;
}

.div-showPassword {
    width: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.showPassword {
    background: none;
    color: var(--gray-300);
    cursor: pointer;
    font-size: 1.2rem;
}

.btn {
    background: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    width: 100%;
    height: 60px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.2);

}

.btn:hover {
    background: var(--blue-hover);
    transition: 0.3s;
}

.rec-senha {
    color: var(--gray-300);
    text-align: right;
    align-self: flex-end;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.1s;
    border-bottom: 2px solid var(--gray-300);

    &:hover {
        color: var(--black);
    }
}

.div-message {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999;

    .msg {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        animation: showMsg 5s ease;

        &.error {
            background-color: var(--red-base);
        }

        &.success {
            background-color: var(--green-base);
        }

        & i, p {
            color: var(--white);
        }
    }

}

@keyframes showMsg {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
        gap: 40px;
    }

    .linha {
        display: none;
    }

    .div-logo {

        & img {
            width: 60px;
        }

        .brand {
            font-size: 2rem;
        }

        .brand-descricao {
            font-size: 1rem;
        }
    }

}

@media (max-width: 475px) {

    .div-logo {

        & img {
            width: 55px;
        }

        .brand {
            font-size: 1.6rem;
        }
    }

    .formulario {
        width: 90vw;
    }

    .titulo {
        font-size: 1.4rem;
    }

    .input {
        font-size: 0.9rem;
    }

    .rec-senha {
        font-size: 0.85rem;
    }

    .btn {
        height: 50px;
        font-size: 0.9rem;
    }
}