@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #DCDCDC;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #23FFA3;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */

    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
    --red-fundo: #AF111167;
    --orange-fundo: #fe660067;
    --yellow-fundo: #FFB20067;
    --green-fundo: #00742B67;
    --blue-fundo: #06047867;
}

/* Começo - Main */


.btn-Chamar {
    padding: 10px 10px;
    border-radius: 8px;
    background-color: var(--blue-dark);
    border: 2px solid var(--blue-dark);
    color: var(--white);
    font-weight: bold;
    transition: 0.3s;
    font-size: 15px;
}
.btn-Chamar:hover {
    background-color: var(--blue-base);
    border: 2px solid var(--blue-base);
    transition: 0.3s;
}

.btn-Atualizar {
    padding: 10px 10px;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--blue-dark);
    border: 2px solid var(--blue-dark);
    font-weight: bold;
    transition: 0.3s;
    font-size: 15px;
}
.btn-Atualizar:hover {
    background-color: var(--gray-100);
    transition: 0.3s;
}

.titulo-cartao {
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--black);
}

.texto-cartao {
    font-size: 15px;
    color: var(--gray-dark);
}

.vermelho {
    color: var(--red-protocol);
    background-color: var(--red-fundo);
    border-radius: 20px;
    padding: 5px 5px;
    border: 3px solid var(--red-protocol); 
    font-weight: bold;
    text-align: center;
}.laranja {
    color: var(--orange-protocol);
    background-color: var(--orange-fundo);
    border-radius: 20px;
    padding: 5px 5px;
    border: 3px solid var(--orange-protocol); 
    font-weight: bold;
    text-align: center;
}.amarelo {
    color: var(--yellow-protocol);
    background-color: var(--yellow-fundo);
    border-radius: 20px;
    padding: 5px 5px;
    border: 3px solid var(--yellow-protocol); 
    font-weight: bold;
    text-align: center;
}.verde {
    color: var(--green-protocol);
    background-color: var(--green-fundo);
    border-radius: 20px;
    padding: 5px 5px;
    border: 3px solid var(--green-protocol); 
    font-weight: bold;
    text-align: center;
}.azul {
    color: var(--blue-protocol);
    background-color: var(--blue-fundo);
    border-radius: 20px;
    padding: 5px 5px;
    border: 3px solid var(--blue-protocol); 
    font-weight: bold;
    text-align: center;
}

.aba {
    flex: 1;
    border: none;
    background: transparent;
    padding: 3px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    white-space: nowrap;
    font-size: 1.0rem;
}

.aba.ativa {
    background: var(--white);
    color: var(--black);
    padding: 7px;
}

.icon-user {
    color: var(--blue-dark);
    font-size: 35px;

}

.icon-urgency{
    background-color: var(--red-dark);
    color: var(--white);
    font-size: 30px;
    border: 4px solid var(--red-dark);
    border-radius: 30px;
}

.icon-clock {
    color: var(--blue-dark);
    font-size: 35px;
}

.icon-medical {
    color: var(--gray-300);
    font-size: 30px;
}

/* Final - Main */


/* Início Responsivo */
@media (max-width: 768px) {
    .modal-conteudo {
        width: 90%;
        padding: 20px;
    }
}


@media (max-width: 1178px) {
    .bloco {
        width: calc(50% - 10px);
    }

    .div-search {
        flex-direction: column;
        gap: 15px;
    }

    .div-text-search {
        width: 100%;
    }

    .search-box {
        width: 100%;
    }
}

@media (max-width: 814px) {
    .sec-blocos-gerais {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        height: 120px;
        min-width: 0;
    }
}

@media (max-width: 550px) {
    .search-box {
        display: flex;
        width: 100%;
    }

    .div-text-search {
        flex-direction: column;
    }

    .aba-todos-usuarios {
        min-width: 100%;
    }

    main {
        padding: 30px;
        padding-bottom: 60px;
    }
}

@media (max-width: 450px) {
    .bloco {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        height: 160px;
        gap: 20px;

        & h3 {
            font-size: 1.1rem;
        }

        & .subtitle-bloco {
            font-size: 1rem;
        }

        & i {
            font-size: 1.8rem;
        }

        .info-bloco {
            font-size: 1.4rem;
        }
    }
}

/* Fim Responsivo */