* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
    --red-fundo: #AF111135;
    --orange-fundo: #fe660035;
    --yellow-fundo: #ffb30035;
    --green-fundo: #00742B35;
    --blue-fundo: #06047835;
}

body {
    background-color: var(--gray-200);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    min-height: 100vh;
}

/* Início - Cabeçalho */
.header {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
}

.div-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}

.linha {
    background-color: var(--white);
    width: 1px;
    height: 35px;
    border-radius: 10px
}

.pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & span {
        font-weight: 600;
    }

    & p {
        font-weight: 200;
    }
}

.icon-logo {
    width: 35px;
    height: 35px;
}

.sair {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.icon-sair {
    width: 22px;
    height: 22px;
}

/* Fim - Cabeçalho */

/* Início - Seção Título e SubTítulo */

.container-painel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 1.7rem;
    color: var(--blue-dark);
}

.span-font-weight {
    font-weight: bold;
    color: var(--blue-dark);
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--blue-dark);
}

.container-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    & .last-att {
        font-size: 0.95rem;
        color: var(--gray-dark);
    }
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-refresh {
    background-color: var(--white);
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    padding: 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: var(--gray-200);
    }
}

#refresh-icon {
    font-size: 1.2rem;
    color: var(--blue-dark);
}

.refreshing {
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Etiqueta de prioridade */
.etiqueta-prioridade {
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
        font-weight: 600;
        font-size: 1rem;
    }
}

/* Leve (Azul) */
.leve {
    color: var(--blue-protocol);
    border-color: var(--blue-protocol);
    background-color: var(--blue-fundo);
}

/* Pouco urgente (Verde) */
.pouco-urgente {
    color: var(--green-protocol);
    border-color: var(--green-protocol);
    background-color: var(--green-fundo);
}

/* Urgente (Amarelo) */
.urgente {
    color: var(--yellow-protocol);
    border-color: var(--yellow-protocol);
    background-color: var(--yellow-fundo);
}

/* Muito urgente (Laranja) */
.muito-urgente {
    color: var(--orange-protocol);
    border-color: var(--orange-protocol);
    background-color: var(--orange-fundo);
}

/* Risco de vida (Vermelho) */
.risco-vida {
    color: var(--red-protocol);
    border-color: var(--red-protocol);
    background-color: var(--red-fundo);
}

.btn-next {
    width: 100%;
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(49, 52, 54, 0.321);
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: var(--blue-hover);
    }
}

.icones {
    width: 20px;
}

.btn-novo-paciente {
    background-color: var(--blue-hover);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: var(--blue-dark);
    }
}

/* Fim - Seção Título e SubTítulo */

/* Início - Seção Blocos Informativos */
.sec-blocos-gerais {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.bloco {
    background-color: var(--gray-100);
    justify-content: center;
    width: calc(33.33% - 10px);
    min-width: 350px;
    height: 200px;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid var(--gray-300);
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    & .icon-alert {
        border: 3.5px solid var(--red-dark);
        border-radius: 50%;
        color: white !important;
        background-color: var(--red-dark);
        font-size: 2rem;
    }
}

.icons-blocos {
    font-size: 35px;
    color: var(--blue-dark);
}

.div-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-title-subtitle-bloco {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h3 {
        font-size: 1.35rem;
    }
}

.subtitle-bloco {
    color: var(--gray-600);
    font-size: 1.1rem;
}

.info-bloco {
    font-size: 1.5rem;
    font-weight: bolder;
}

/* Fim - Seção Blocos Informativos */

/* Início Seção da Tabela de Usuários */

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
}

.div-table {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
    border-radius: 10px;
    border: 1px solid var(--gray-300);
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 100%;
}

.div-scroll-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    width: 100%;
}

.sec-tabela-usuario {
    background-color: var(--gray-100);
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--gray-300);
}

.div-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.div-text-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.aba-todos-usuarios {
    padding: 7px;
    background-color: var(--gray-200);
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    align-items: center;

    & p {
        color: var(--gray-dark);
        padding: 12px 20px;
        cursor: pointer;
        transition: 0.2s;
    }

    & .active {
        color: var(--black);
        background-color: var(--white);
        border-radius: 50px;
    }
}

.search-box {
    position: relative;
    width: 270px;
}

.search-box input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box input:focus {
    border-color: #aaa;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.btn-add-user {
    background-color: var(--blue-dark);
    width: 195px;
    padding: 15px;
    margin-left: 10px;
    border-style: none;
    color: var(--white);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

th,
td {
    padding: 20px;
}

.td-numero {
    text-align: right;
}

.td-string {
    text-align: left;
}

.td-time {
    text-align: center;
}

td {
    border-top: 1px solid var(--gray-300);
}

th {
    background-color: var(--gray-200);
    font-weight: bold;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.icon-more-details {
    border: 2px solid var(--black);
    width: 30px;
    height: 30px;
    padding-top: 5.5px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
    text-align: center;
}

.div-icon {
    position: relative;
}

.icons-blocos2 {
    font-size: 31px;
}

/* Fim Seção da Tabela de Usuários */

/* Início - Footer */
.footer {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
}

.title-footer {
    font-weight: bold;
}

.div-footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.div-direitos-reservados {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-base);
    width: 100%;
    height: 40px;
}

.text-footer {
    font-size: 14px;
}

.div-message {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999;

    .msg {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        animation: showMsg 5s ease;

        &.error {
            background-color: var(--red-base);
        }

        &.success {
            background-color: var(--green-base);
        }

        & i, p {
            color: var(--white);
        }
    }

}   

@keyframes showMsg {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.div-action {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    border-radius: 20px;
    width: 50px;
    background-color: var(--gray-200);
    border: 1px solid var(--gray-300);

    &:hover {
        background-color: var(--gray-200);
    }
}

.consultas-not-found {
    text-align: center;
    color: var(--gray-dark);
}

/* Fim - Footer */

/* Início Responsivo */

@media (max-width: 1178px) {
    .bloco {
        width: calc(50% - 10px);
    }

    .div-search {
        flex-direction: column;
        gap: 15px;
    }

    .btn-add-user {
        margin: 0;
        width: 100%;
    }

}

@media (max-width: 960px) {
    .search-box {
        width: 150px;
    }
}

@media (max-width: 814px) {
    .div-text-search {
        flex-direction: column;
        gap: 20px;
    }

    .container-filtro {
        width: 100%;
    }

    .aba-todos-usuarios {
        width: 100%;
        justify-content: space-between;
    }

    .search-box {
        width: 100%;
    }

    .sec-blocos-gerais {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        height: 120px;
        min-width: 0;
    }
}

@media (max-width: 768px) {

    .header {
        padding: 10px;
    }

    .container-painel {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
    }

    .container-btn {
        width: 100%;
        align-items: flex-start;

        & .a {
            width: 100% !important;
        }

        & button {
            width: 50%;
        }
    }

    .bloco {
        min-width: 212px;
        gap: 13px;
    }
    
    .modal-conteudo {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 670px) {

    .container-filtro {
        width: 100%;
        overflow-x: auto;
    }

    .aba-todos-usuarios {
        width: fit-content;
        justify-content: center;
    }

    .filtro-consulta {
        width: 120px;
    }

    .search-box {
        width: 100%;
    }

    .sec-blocos-gerais {
        flex-direction: column;
    }

    .bloco {
        & h3 {
            font-size: 1.1rem;
        }

        & .subtitle-bloco {
            font-size: 0.9rem;
        }

        & .info-bloco {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 550px) {
    .search-box {
        display: flex;
        width: 100%;
    }

    .div-header span {
        display: none;
    }

    .div-text-search {
        flex-direction: column;
    }

    .aba-todos-usuarios {
        min-width: 100%;
    }

    main {
        padding: 30px;
        padding-bottom: 60px;
    }
}

@media (max-width: 500px) {
    .bloco {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        height: 160px;
        gap: 20px;

        & h3 {
            font-size: 1.1rem;
        }

        & .subtitle-bloco {
            font-size: 1rem;
        }

        & i {
            font-size: 1.8rem;
        }

        .info-bloco {
            font-size: 1.4rem;
        }
    }

    td, th {
        font-size: 0.8rem;
    }

    
    .header {
        padding: 30px;
    }
    .a {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        & button {
            width: 100%;
        }
    }

    .title {
        font-size: 1.4rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }

    main {
        padding: 30px;
    }

    .div-text-search {
        flex-direction: column;
        gap: 17px;
    }

    .aba-todos-usuarios {
        min-width: 304px;
    }
}

@media (max-width: 376px) {
    .aba-todos-usuarios {
        min-width: 253px;
    }

    .last-att {
        font-size: 0.85rem !important;
    }
}

@media (max-width: 321px) {
    .aba-todos-usuarios {
        min-width: 200px;
    }
}


/* Fim Responsivo */