* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #DCDCDC;
    --gray-600: #BDBBBB;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #23FFA3;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */

    --black: black;
    --white: white;
}

body {
    background-color: var(--gray-200);
}

/* Início - Cabeçalho */
.header {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
}

.div-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}

.linha {
    background-color: var(--white);
    width: 1px;
    height: 35px;
    border-radius: 10px
}

.icon-logo {
    width: 35px;
    height: 35px;
}

.sair {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.icon-sair {
    width: 22px;
    height: 22px;
}
/* Fim - Cabeçalho */

/* Página ADM */
/* Início - Seção Título e SubTítulo */
.sec-title-subtitle {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 5px;
}

.title{
    font-size: 1.7rem;
    color: var(--blue-dark);
}

.span-font-weight {
    font-weight: bold;
    color: var(--blue-dark);
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--blue-dark);
}
/* Fim - Seção Título e SubTítulo */



/* Início - Seção Blocos Informativos */
.sec-blocos-gerais {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 50px;
    gap: 15px;
}

.bloco {
    background-color: var(--gray-100);
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--gray-300);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icons-blocos {
    font-size: 35px;
}

.div-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-title-subtitle-bloco {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtitle-bloco {
    color: var(--gray-600);
}

.info-bloco {
    font-size: 1.5rem;
    font-weight: bolder;
}
/* Fim - Seção Blocos Informativos */
/* Fim Página ADM */

/* Página Recepcionista */
.conteudo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.titulo {
    color: var(--blue-dark);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.subtitulo {
    color: var(--blue-dark);
}

.subtitulo .bemvindo {
    font-weight: lighter;
}

.subtitulo .nome {
    font-weight: bold;
}

.botao1 {
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.botao2 {
    background-color: var(--white);
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    padding: 8px 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}

.botao3 {
    width: 100%;
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 12px;
    box-shadow: 0 4px 6px rgba(49, 52, 54, 0.321);
}

.icones {
    width: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-conteudo {
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fechar {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-conteudo input,
.modal-conteudo select {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: "Inter", sans-serif;
}

.modal-conteudo label {
    font-weight: 500;
}

.cor-blue-dark {
    color: var(--blue-dark);
}

.center {
    text-align: center;
}

form .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

form .campo label {
    font-weight: 500;
    margin-bottom: 4px;
}

.tamfont {
    font-size: 14px;
}

.alin-lad {
    display: flex;
    gap: 20px;
}

.camp-lad {
    width: 46.2%;
}

.camp-lad label {
    display: block;
    margin-bottom: 5px;
}

.camp-lad select,
.camp-lad input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.campo-cpf {
    display: flex;
    flex-direction: column;
}

#cpf {
    padding: 10px;
    font-size: 16px;
    width: 95.9%;
}

.informacao-busca {
    font-size: 15px;
    background-color: var(--gray-200);
    width: 97.5%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.mar-bot {
    margin-bottom: 15px !important;
    color: var(--blue-dark);
    text-align: center;
}

.esp {
    margin-bottom: 5px;
}
/* Fim Página Recepcionista */


/* Início - Footer */
.footer {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
}

.title-footer {
    font-weight: bold;
}

.div-footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.div-direitos-reservados {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-base);
    width: 100%;
    height: 40px;
}

.text-footer {
    font-size: 14px;
}
/* Fim - Footer */

/* Responsivo Página Recepcionista */

@media (max-width: 769px) {
    .fechar {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 426px) {
    .conteudo1 {
        flex-wrap: wrap;
    }

    .subtitulo {
        margin-bottom: 20px;
    }

    .linha {
        background-color: var(--blue-dark);
    }

    .desaparecer {
        color: var(--blue-dark);
    }

    .a {
        width: 100%;
    }

    .botao1 {
        width: 50%;
        justify-content: center;
    }

    .botao2 {
        width: 45%;
        justify-content: center;
        margin-left: 12.81px;
    }

    .modal-conteudo {
        width: 70%;
    }

    .camp-lad select,
    .camp-lad input {
        width: 89%;
    }

    .mar-bot {
        margin-top: 15px !important;
    }

    .informacao-busca {
        width: 95.5%;
    }

    #cpf {
        width: 92.9%;
    }
}

@media (max-width: 376px) {
    .botao1 {
        margin-left: 0px;
        width: 100%;
        justify-content: center;
        margin-bottom: 12px;
    }

    .botao2 {
        margin-left: 0px;
        width: 100%;
        justify-content: center;
    }

    .center {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .camp-lad select,
    .camp-lad input {
        width: 86%;
    }

    #cpf {
        width: 92.3%;
    }

    .informacao-busca {
        width: 95.2%;
    }
}

@media (max-width: 321px) {
    .alin-lad {
        gap: 6px;
    }

    .camp-lad select,
    .camp-lad input {
        width: 91%;
    }

    .informacao-busca {
        width: 94%;
    }

    #cpf {
        width: 90.3%;
    }
}

/* Fim Responsivo Página Recepcionista */