* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
}

body {
    background-color: var(--gray-200);
}

main {
    min-height: 100vh;
}

/* Início - Cabeçalho */
.header {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
}

.div-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}

.linha {
    background-color: var(--white);
    width: 1px;
    height: 35px;
    border-radius: 10px
}

.icon-logo {
    width: 35px;
    height: 35px;
}

.sair {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.icon-sair {
    width: 22px;
    height: 22px;
}

/* Fim - Cabeçalho */

/* Página ADM */
/* Início - Seção Título e SubTítulo */

.container-painel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 1.7rem;
    color: var(--blue-dark);
}

.span-font-weight {
    font-weight: bold;
    color: var(--blue-dark);
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--blue-dark);
}

/* Fim - Seção Título e SubTítulo */



/* Início - Seção Blocos Informativos */
.sec-blocos-gerais {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.bloco {
    background-color: var(--gray-100);
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--gray-300);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icons-blocos {
    font-size: 35px;
}

.div-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-title-subtitle-bloco {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtitle-bloco {
    color: var(--gray-600);
}

.info-bloco {
    font-size: 1.5rem;
    font-weight: bolder;
}

/* Fim - Seção Blocos Informativos */

/* Início Seção da Tabela de Usuários */

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
}

.div-table {
    overflow-y: auto;
    width: 100%;
    height: 400px;
}

.sec-tabela-usuario {
    background-color: var(--gray-100);
    padding: 0px 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.div-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.titulo {
    color: var(--blue-dark);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.subtitulo {
    color: var(--blue-dark);
}

.subtitulo .bemvindo {
    font-weight: lighter;
}

.subtitulo .nome {
    font-weight: bold;
}

.botao1 {
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.botao2 {
    background-color: var(--white);
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    padding: 8px 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.botao3 {
    width: 100%;
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 12px;
    box-shadow: 0 4px 6px rgba(49, 52, 54, 0.321);
    cursor: pointer;
}

.div-text-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.aba-todos-usuarios{
    padding: 10px 20px;
    background-color: var(--gray-100);
    border: 8px solid var(--gray-200);
    border-radius: 50px;
    font-weight: bold;
}

.search-box {
    position: relative;
    width: 400px;
}

.search-box input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box input:focus {
    border-color: #aaa;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.btn-add-user {
    background-color: var(--blue-dark);
    padding: 15px 30px;
    border-style: none;
    color: var(--white);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid var(--gray-300);
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

td:first-child {
    border-left: 1px solid var(--gray-300);
}

td:last-child {
    border-right: 1px solid var(--gray-300);
}

th {
    background-color: var(--gray-200);
    font-weight: bold;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}


/* Fim Seção da Tabela de Usuários */

/* Fim Página ADM */

/* Início - Footer */
.footer {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
}

.title-footer {
    font-weight: bold;
}

.div-footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.div-direitos-reservados {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-base);
    width: 100%;
    height: 40px;
}

.text-footer {
    font-size: 14px;
}

.div-message {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999;
    width: 100%;

    .msg {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        animation: showMsg 5s ease;

        &.error {
            background-color: var(--red-base);
        }

        &.success {
            background-color: var(--green-base);
        }

        & i, p {
            color: var(--white);
        }
    }

}   

@keyframes showMsg {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Fim - Footer */

@media (max-width: 768px) {
    .div-header span {
        display: none;
    }

    .container-painel {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .header {
        padding: 30px;
    }
    .a {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        & button {
            width: 100%;
        }
    }

    .title {
        font-size: 1.4rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }

    main {
        padding: 30px;
    }
}