@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
}

body {
    background-color: var(--gray-200);
}

.container-painel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--blue-dark);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.subtitle {
    color: var(--blue-dark);
}

.span-font-weight {
    font-weight: bold;
}

.btn-novo-paciente {
    background-color: var(--blue-hover);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: var(--blue-dark);
    }
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-refresh {
    background-color: var(--white);
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    padding: 14px;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: var(--gray-200);
    }
}

.btn-next {
    width: 100%;
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(49, 52, 54, 0.321);
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        background-color: var(--blue-hover);
    }

    &.edit {
        background-color: var(--gray-100);
        color: var(--blue-dark);
        border: 1px solid var(--blue-dark);

        &:hover {
            background-color: var(--gray-200);
        }
    }

    &.half {
        width: 50%;
    }
}


.icones {
    width: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-conteudo {
    background-color: var(--white);
    padding: 35px;
    border-radius: 10px;
    width: 500px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.fechar {
    cursor: pointer;
    top: 15px;
    left: 20px;
    font-size: 1.5rem;
    color: var(--blue-dark);
    padding: 5px;
    position: absolute;
}

.modal-conteudo input,
.modal-conteudo select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--gray-300);
    outline-color: var(--blue-dark);

    &:disabled {
        background-color: var(--gray-200);
    }
}

.modal-conteudo label {
    font-weight: 500;
}

.cor-blue-dark {
    color: var(--blue-dark);
}

#form-cpf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

#form-cadastro, #form-consulta {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

form .campo {
    display: flex;
    flex-direction: column;
}

form .campo label {
    font-weight: 500;
    margin-bottom: 4px;
}

form .campo input {
    padding: 10px;
}

.tamfont {
    font-size: 14px;
}

.alin-lad {
    width: 100%;
    display: flex;
    gap: 20px;
}

.camp-lad {
    width: 50%;
}

.camp-lad label {
    display: block;
    margin-bottom: 5px;
}

.camp-lad select,
.camp-lad input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.campo-cpf {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-input-tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-200);
    border-radius: 5px;
    overflow: hidden;
}

#input-cpf {
    background-color: var(--gray-100);
    border: 2px solid var(--gray-300);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--black);
    font-size: 1rem;
    text-align: left;
    outline-color: var(--blue-dark);
}

.info-busca { 
    font-size: 15px;
    background-color: var(--gray-200);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.title-form {
    color: var(--blue-dark);
    text-align: center;
    width: 100%;
}

.esp {
    margin-bottom: 5px;
}

.div-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .modal-conteudo {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .title-form {
        font-size: 1.2rem;
        padding-top: 5px;
    }

    #fechar-modal {
        font-size: 1.2rem;
    }
}

@media (max-width: 340px) {
    .title-form {
        font-size: 1rem;
        padding-top: 5px;
    }

    .info-busca {
        font-size: 0.8rem;
    }
}