* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --gray-100: #FAFAFA;
    --gray-200: #ECECEC;
    --gray-300: #bebebe;

    --blue-light: #C1E6FA;
    --blue-base: #46A2D3;
    --blue-dark: #116694;

    /* Alertas */
    --red-light: #FFC6C7;
    --red-base: #FF233D;
    --red-dark: #AF1111;

    --red-light: #C6FFDB;
    --green-base: #1fd388;
    --green-dark: #11AF68;

    /* Cores Alertas */
    --red-protocol: #AF1111;
    --orange-protocol: #FE6500;
    --yellow-protocol: #FFB200;
    --green-protocol: #00742B;
    --blue-protocol: #060478;

    /* Branco e Preto */
    --black: black;
    --white: white;

    /* Cores adicionais */
    --blue-hover: #1876ac;
    --gray-dark: #747474;
}

body {
    background-color: var(--gray-200);
}

main {
    margin: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

/* Início - Cabeçalho */
.header {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
}

.pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & span {
        font-weight: 600;
    }

    & p {
        font-weight: 200;
    }
}

.div-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}

.linha {
    background-color: var(--white);
    width: 1px;
    height: 35px;
    border-radius: 10px
}

.icon-logo {
    width: 35px;
    height: 35px;
}

.sair {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.icon-sair {
    width: 22px;
    height: 22px;
}

/* Fim - Cabeçalho */

.container-painel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 1.7rem;
    color: var(--blue-dark);
}

.title-div {
    font-size: 22px;
    font-weight: bold;
    color: var(--blue-dark);
    margin-bottom: 35px
}

.btn-action {
    background-color: var(--blue-dark);
    color: var(--white);
    border: none;
    border-radius: 11px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    width: 160px;
    align-self: flex-end;
    
    &:hover {
        background-color: var(--blue-hover);
    }
}

.btn-voltar {
    color: var(--blue-dark);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    padding: 14px 0;
    
    &:hover {
        color: var(--blue-hover);
    }
}

.formulario-container {
    width: 100%;
    display: flex;
    gap: 15px;
}

.coluna-esquerda, .coluna-direita {
    background-color: var(--white);
    border-radius: 10px;
    width: 50%;
    padding: 30px;
}

.campo-grupo {
    margin-bottom: 20px;

    &.last {
        margin: 0;
    }
}

.campo-grupo label {
    font-weight: bold;
    color: var(--blue-dark);
}

.campos-linha {
    display: flex;
    gap: 20px;
}

.campos-linha .campo-grupo {
    flex: 1; 
}

.dado-exibido, .input-triagem {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--gray-300);
    border-radius: 10px; 
    min-height: 20px; 
    box-sizing: border-box;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.5; 
    margin-top: 5px;
    outline-color: var(--blue-dark);
}

.dado-exibido {
    padding: 10px 0;
    border: none;
}

.dado-multilinha {
    height: 232px;
}

#classificacao-risco option {
    font-size: 1em;
    font-weight: 600;
    color: var(--blue-base);
}

.niveis-dor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    flex-wrap: wrap; 
}

.niveis-dor input[type="radio"] {
    display: none;
}

.niveis-dor label {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--gray-300);
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.niveis-dor input[type="radio"]:checked + label {
    background-color: var(--blue-dark);
    color: white;
    border-color: var(--blue-dark);
}

/* Início - Footer */
.footer {
    background-color: var(--blue-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
}

.title-footer {
    font-weight: bold;
}

.div-footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.div-direitos-reservados {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-base);
    width: 100%;
    height: 40px;
}

.text-footer {
    font-size: 14px;
}

.div-message {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999;

    .msg {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        animation: showMsg 5s ease;

        &.error {
            background-color: var(--red-base);
        }

        &.success {
            background-color: var(--green-base);
        }

        & i, p {
            color: var(--white);
        }
    }

}

@keyframes showMsg {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showMsg {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Fim - Footer */

@media (max-width: 1238px) {
    .formulario-container {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }

    .coluna-esquerda, .coluna-direita {
        width: 100%;
    }
}

@media (max-width: 716px) {

    .campos-linha {
        flex-direction: column;
        gap: 0px;
    }

    .header span {
        display: none;
    }

    main {
        margin: 40px 20px;
        gap: 20px;
    }

    .formulario-container {
        gap: 20px;
    }
    
    .title-div {
        font-size: 1.1rem;
    }

    .btn-action {
        width: 100%;
    }

    .coluna-direita, .coluna-esquerda {
        padding: 25px;
    }

    .campo-grupo label {
        font-size: 0.9rem;
    }

    .dado-exibido, .input-triagem {
        font-size: 0.85rem;
    }

    .niveis-dor {
        gap: 5px;
    }

    .niveis-dor label {
        max-width: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 635px) {
    .niveis-dor label {
        width: 15vw;
        height: 15vw;
        max-width: none;
        max-height: none;
    }
}

@media (max-width: 443px) {
    .niveis-dor label {
        width: 13vw;
        height: 13vw;
        max-width: none;
        max-height: none;
    }
}